
<div class = 'cocktails_show'>
  <h2><%= @cocktail.name %></h2>
  <% if @cocktail.photo? %>
  <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
  <% end %>
  <% @cocktail.doses.each do |dose| %>
    <p>Quantité: <%= dose.description %></p>
    <p>Ingredient: <%= dose.ingredient.name %></p>
    <%= link_to "delete ingredient", dose_path(dose), class: "btn btn-primary", method: :delete %>
  <% end %>
</div>

<div class = 'dose_form'>
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Create dose", class: 'btn btn-primary' %>
  <% end %>
</div>

